body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}
h1{
    align-items: center;
    padding-left: 600px;
    padding-top: 40vh;
}
button{
    margin-left: 750px;
}